.post {
  padding: 15px 20px;
  background-color: var(--backgroundSecondary);
  border-radius: 10px;
  margin-bottom: 30px;
}

.post__header {
  margin-bottom: 5px;
}

.title {
  margin-bottom: 10px;
  font-size: 1.4rem;
}

.text {
  margin-bottom: 10px;
  font-size: 1rem;
  line-height: 1.5rem;
}

.image {
  width: 100%;
}
