.post {
  padding: 20px;
  background-color: var(--backgroundSecondary);
  border-radius: 10px;
  margin-bottom: 30px;
}

.title {
  margin-bottom: 10px;
}

.text {
  margin-bottom: 10px;
}

.image {
  width: 100%;
}
